<launch>
    <!-- Parameter -->
    <arg name="baud" default="115200" />
    <arg name="port" default="/dev/ttyUSB2" />
    <arg name="timeout" default="1.0" />

    <!--  Node  -->
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial_python_revision" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baud)" />
        <param name="timeout" value="$(arg timeout)" />
    </node>

</launch>