<launch>
    <!-- Parameter -->
    <arg name="baud" default="115200" />
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="timeout" default="1.5" />
    <arg name="isMega2560" default="false" />

    <!--  Node  -->
    <node pkg="rosserial_python_revision" type="serial_node.py" name="rosserial_python_revision" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="baud" value="$(arg baud)" />
        <param name="timeout" value="$(arg timeout)" />
        <param name="isMega2560" value="$(arg isMega2560)" />
    </node>

</launch>